/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;



/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */


 body {
  background-color: white;
  background-image: url('/data.svg');
  background-repeat: repeat;
}

::-webkit-scrollbar {
  width: 6px;  /* Ancho de la barra de desplazamiento */
  margin: 0px 3px;
}

/* Estilo del "track" o riel de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: transparent; /* Hacemos el fondo del riel transparente */
  padding: 10px;
}

/* Estilo del "thumb" o control deslizante de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background: #888; /* Un color gris oscuro para el control deslizante, minimalista pero aún visible */
  border-radius: 4px; /* Suaviza las esquinas del control deslizante para un aspecto más pulido */
}

/* Estilo del "thumb" al pasar el mouse sobre él */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Oscurece un poco el control deslizante al pasar el mouse sobre él para indicar interactividad */
}


